<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="number">
        <h1>
            <%= number %>
        </h1>
    </div>

    <div class="container">
        <form action="/" method="POST">
            <input name="minimo" type="text" class="text-field min"  placeholder="Minimo"><br/>
            <input name="maximo"type="text" class="text-field max"  placeholder="Maximo"><br/>
            <input type="submit" class="ghost-button" value="Generate Random">
        </form>
    </div>

  </body>
</html>